.blog {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.25rem
}
@media (max-width:74.99875em) {
    .blog {
        grid-template-columns: repeat(3,1fr)
    }
}
@media (max-width:47.99875em) {
    .blog {
        grid-template-columns: repeat(2,1fr)
    }
}

.page-navigation.page-navigation_blog {
    margin-bottom: 3.5rem
}
@media (max-width:47.99875em) {
    .page-navigation.page-navigation_blog {
        margin-bottom: 3rem
    }
}
